<%#<div class="book-grid" data-controller="focus" data-focus-target="grid">
  <% books.each do |book| %>
<%#    <%= render "shared/book_card", book: book %>
<%#  <% end %>
<%#  <div class="d-none bg-dark bg-opacity-75" data-focus-target="show">
  </div>
</div>
