<%# <div class="banner library_banner">
  <div class="col-sm-8 col-3">
    <input type="text", placeholder="Find within library", class="w-100">
  </div>
</div>
  <%# shelvedbooks cards with delete button %>
