.banner {
  height: 50vh;
}

.library_banner{
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("./library.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
