<%# <div class="container">
  <div class="offset-2 col-sm-8 my-3">
    <%= form_with url: browse_path(), method: "GET", class: "d-flex" do %>
<%#      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search a book"
        %>
<%#      <%= submit_tag "Search", class: "btn btn-primary" %>
<%#    <% end %>
<%#  </div>
  <div>
    <%= render "shared/book_grid", books: @books %>
<%#  </div>
</div> %>
<%# grid of movie cards with add button (create book in ajax + apparition sitmulus liste des libraries qui crée le shelved_book) %>
