<%#<div class="card d-none">
  <img src=<%= book.oclc %> <%# class="card-img-top" alt="...">
<%#  <div class="card-body">
    <h5 class="card-title"><%= book.title %></h5>
<%#    <p class="card-text"><%= book.author.name %> - <%= book.year %></p>
<%#    <div class="d-flex justify-content-between">
    <i class="fa-solid fa-magnifying-glass-minus" data-action="click->focus#focus"></i>
    <a href="#"><i class="fa-regular fa-square-plus" style="color: #63E6BE;"></i></a>
    </div>
  </div>
</div> %>
